.reviewForm{
    display: grid;
    align-items: center;

    font-size: 14px;
    line-height: 24px;
    grid-template-columns: [start] auto 1fr auto [end];
    gap: 20px 30px;
}

.title{
    justify-self: left;
}

.description, .submit{
    grid-column: start / end;
}

.raiting{
    display: grid;

    white-space: nowrap;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.info{
    margin-left: 15px;
}

.panel{
    position: relative;

    margin-top: 20px;
    padding: 20px;

    border-radius: 5px;
}

.success{
    background-color: var(--green-light);
}

.error{
    background-color: var(--red-light);
}

.successTitle{
    font-weight: bold;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;

    border: none;
    background: none;
}

.error .close path{
    stroke : var(--red);
}

@media  screen and (max-width: 1150px) {
    .reviewForm{
        grid-template-columns: [start] 1fr 1fr [end];
    }

    .raiting{
        grid-column: start / end;
    }

    .title{
        justify-self: normal;
    }
}

@media  screen and (max-width: 640px) {
    .reviewForm{
        grid-template-columns: [start] 1fr [end];
    }

    .title{
        grid-column: start / end;
    }
}